@import "tailwindcss";

:root {
    --background: #080808;
    --background-secondary: #0A0A0A;
    --foreground: #F7F7F0;
    --foreground-dim: #F7F7F025;
    --accent: #7BADA8;
    --accent-dim: #7BADA810;
}

@theme inline {
    --color-background: var(--background);
    --color-background-secondary: var(--background-secondary);
    --color-foreground: var(--foreground);
    --color-foreground-dim: var(--foreground-dim);
    --color-accent: var(--accent);
    --color-accent-dark: var(--accent-dark);
    --color-accent-dim: var(--accent-dim);
    --font-montserrat: var(--font-montserrat);
    --font-nunito: var(--font-nunito);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #F7F7F0;
        --foreground: #0A0A0A;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}
